aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
charset-normalizer==2.0.12
frozenlist==1.3.0
humanize==4.1.0
idna==3.3
multidict==6.0.2
py-cord @ git+https://github.com/Pycord-Development/pycord@905b7d37105cd44983b89e46a81ffeac97cf1730
yarl==1.7.2
